

<div class="container">
  <div class="row">

    <div class="col-md-12">
      <div class="btnCampain" *ngIf="verBtnNuevo"><button (click)="activarCampain()" class="btn btn-primary" pTooltip="Crear Campaña">Nueva Campaña <i class="pi pi-plus"></i></button></div>
      <div class="tarjeta" *ngIf="verFormCampain">

        <form [formGroup]="formCampain">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Fecha Campaña</label>
                <input type="date" class="form-control" formControlName="fecha">
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="">Nombre de Campaña</label>
                <input type="text" class="form-control" formControlName="nombreCampain">
              </div>
            </div>
            <div class="col-md-12">
              <div class="form-group">
                <button class="btn btn-secondary"  (click)="cancelar()">Cancelar</button>
                <button class="btn btn-primary" [disabled]="!formCampain.valid" (click)="guardarNombre()">Continuar</button>
              </div>
            </div>
          </div>





        </form>

      </div>
      <div class="tarjeta" *ngIf="nombreCampain">

        <div class="row">
          <div class="col-md-4">
            <h3>{{nombreCampain}}</h3>
            <div>Nombre de campaña</div>
          </div>

          <div class="col-md-4">
            <div>
              Elegir Delimitador
              <select name="" id="" class="form-control" (change)="elegirDelimitador($event.target.value)">
                <option value="">Por Defecto</option>
                <option *ngFor="let item of configDelimit" value="{{item}}">{{item}}</option>
              </select>
            </div>
          </div>

          <div class="col-md-4">
            <label *ngIf="!archivo" for="file" class="carga">Cargar Archivo</label>
            <input *ngIf="!archivo" id="file" type="file" name="files" class="botonCarga"
                   #uploads  (change)="onChange(uploads.files)" multiple
                   value="process"/>



          </div>
        </div>



        <div class="cargado alert alert-success" *ngIf="archivo">
          <div class="row">
        <div class="col-md-6"><strong>Archivo cargado</strong> {{archivo.name}}</div>
          <div class="col-md-6">
            <button pTooltip="Eliminar Archivo" class="btn btn-danger" (click)="eliminarArchivo()"><i class="pi pi-trash"></i></button>
            <button pTooltip="Cambiar Archivo" class="btn btn-warning" (click)="elegirOtroArchivo()"><i class="pi pi-file"></i></button>
          </div>
        </div>
        </div>
        <div class="row opciones" *ngIf="archivo">

          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Nombre de la columna</th>
                <th>Asignar al campo</th>
                <th>Cargar este campo?</th>
              </tr>

              <tr *ngFor="let item of headers">
              <td>{{item}}</td>
                <td> <select name={{item}} id="" class="form-control" (change)="eventoSelect($event.target)">
                  <optgroup label="Seleccione campo a cargar"></optgroup>
                  <option value="nombres">nombres</option>
                  <option value="apellidos">apellidos</option>
                  <option value="telefono">telefono</option>
                  <option value="direccion">direccion</option>
                </select></td>
              <td> <input type="checkbox" class="form-control" name="columnas" value="{{item}}" (change)="valor($event)">
              </td>
              </tr>
            </table>
          </div>

          <div class="col-md-12">
            <button class="btn btn-primary" (click)="cargarSeleccion()" *ngIf="listaSeleccionada.length>0">Añadir a Lista</button>
          </div>

        </div>

      </div>

    </div>

  </div>

  <div class="tarjeta" *ngIf="arrayFinal.length>0">
    <h5>Datos para importar </h5>
    <p-table [value]="arrayFinal" [paginator]="true" [rows]="10"
             currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} clientes" [rowsPerPageOptions]="[10,25,50]">

      <ng-template pTemplate="header">
        <tr>
          <th>Nombres</th>
          <th>Apellidos</th>
          <th>Teléfono</th>
          <th>Dirección</th>

        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-item>
        <tr>
          <td>{{item.nombres}}</td>
          <td>{{item.apellidos}}</td>
          <td>{{item.telefono}}</td>
          <td>{{item.direccion}}</td>

        </tr>
      </ng-template>
    </p-table>

    <button class="btn btn-primary" (click)="guardarDatos()">Cargar Datos</button>
  </div>

<div class="listaCampains" *ngIf="verBtnNuevo">
  <h3>Lista de Campañas</h3>
  <p-table [value]="campainsList" [paginator]="true" [rows]="10"
           currentPageReportTemplate="Mostrar {first} a {last} de {totalRecords} campañas" [rowsPerPageOptions]="[10,25,50]">

    <ng-template pTemplate="header">
      <tr>
        <th>Fecha</th>
        <th>Codigo</th>
        <th>Nombre</th>

      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-item>
      <tr>
        <td>{{item.fecha|date}}</td>
        <td>{{item.codigo}}</td>
        <td>{{item.nombre}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
</div>









